pkgbase = linux-g14
	pkgdesc = Linux
	pkgver = 6.1.1.arch1
	pkgrel = 1
	url = https://gitlab.com/dragonn/linux-g14.git
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = git
	makedepends = gcc>=11.0
	options = !strip
	source = archlinux-linux::git+https://github.com/archlinux/linux?signed#tag=v6.1.1-arch1
	source = config
	source = choose-gcc-optimization.sh
	source = sys-kernel_arch-sources-g14_files-0004-5.17+--more-uarches-for-kernel.patch::https://raw.githubusercontent.com/graysky2/kernel_compiler_patch/master/more-uarches-for-kernel-5.17+.patch
	source = 0001-acpi-proc-idle-skip-dummy-wait.patch
	source = 0019-HID-amd_sfh-Add-keyguard-for-ASUS-ROG-X13-tablet.patch
	source = 0001-platform-x86-asus-wmi-Add-safety-checks-to-dgpu-egpu.patch
	source = 0001-Revert-perf-x86-intel-Fix-unchecked-MSR-access-error.patch
	source = 0024-V8-0-4-PCI-vmd-Enable-PCIe-ASPM-and-LTR-on-select-hardware.patch
	source = 0026-drm-amdgpu-make-display-pinning-more-flexible-v2.patch
	source = 0027-mt76_-mt7921_-Disable-powersave-features-by-default.patch
	source = sys-kernel_arch-sources-g14_files-0047-asus-nb-wmi-Add-tablet_mode_sw-lid-flip.patch
	source = sys-kernel_arch-sources-g14_files-0048-asus-nb-wmi-fix-tablet_mode_sw_int.patch
	source = sys-kernel_arch-sources-g14_files-0049-ALSA-hda-realtek-Add-quirk-for-ASUS-M16-GU603H.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C7E7849466FE2358343588377258734B41C31549
	sha256sums = SKIP
	sha256sums = 70cf3252ff877cb91ca7eba13439ae181e693513b09ff43e83c48d2b0b46d0f8
	sha256sums = 278118011d7a2eeca9971ac97b31bf0c55ab55e99c662ab9ae4717b55819c9a2
	sha256sums = dea86a521603414a8c7bf9cf1f41090d5d6f8035ce31407449e25964befb1e50
	sha256sums = 40e4c300be6681ab3b30042eb4bb5981081ce029b2bdd4773a38b4a9f65e943e
	sha256sums = d45e2ae1d21b1dc8e0de94a4fa58e9a53d72306843f87d3cc49f5f641399d8e3
	sha256sums = 172dbc88d0a3cda78387f3c907fa4953c71cb1cb162f0b34f78b8b78924bc3d4
	sha256sums = 6739a42bf9d233cb58ae9a69c3f78959175de695e2d4a7e66bb9984fcf5c0f7e
	sha256sums = f036ac8a49153f66d7d8638508cfe0b4a158d12faf30d2c671b04a6b7b606b3b
	sha256sums = 949c025ea8b46168cd7c6f0dc6b9513905a8d94ad6ed11ba95de65f336ec62e3
	sha256sums = a691e7b22633fe0c458d140167d6d381b66149e05de3cb926b30a19fd43e78ce
	sha256sums = 15e912a66e4bbce1cf0450f1dc6610653df29df8dd6d5426f9c1b039490436c8
	sha256sums = 444f2d86de8c2177655b01596f939f99c2e7abfa8efad8a509e0a334f42dfa85
	sha256sums = 982a31e47d3d586789e1b3cdda25f75e3b71d810e7494202089b8f2cef7c0ef9

pkgname = linux-g14
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = linux-rog
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-g14-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
	provides = linux-rog
	provides = linux-rog-headers
